* {
    margin: 0;
    font-family: sans-serif;
}

body {
    color: white;
    background-color: black;
    overscroll-behavior: none;
    display: flex;
    position: absolute;
    top: 0px;
    bottom: 0px;
    flex-direction: row-reverse;
    background: url("static_background.png");
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    margin-left: 0px;
    padding-right: 30px;
}

nav li {
    font-size: 30pt;
    margin: 5px 0px;
    cursor: pointer;
    color: gold;
    white-space: nowrap;
}

nav li a {
    position: relative;
    left: 0px;
    transition: left 0.1s;
}


nav li:hover {
    color: white;
}

#active-navlink a {
    left: -20px;
    color: white;
}

.slideshow {
    /*position: absolute;
    width: 100%;
    height: 100%;*/
    overflow-y: hidden;
    overflow-x: hidden;
    /*z-index: -1;*/
    scroll-behavior: smooth;
}

.slide {
    width: 100%;
    height: 100%;
    display: flex;
}

.slide-content {
    flex: 1 0 auto;
    max-width: 100%;
    padding-top: 30px;
    padding-left: 30px;
    /* margin: 0px 30px; */
    /*margin-right: 300px;*/
    /* background: purple; */
    display: flex;
    flex-flow: column;
}

#logo {
    width: 250px;
    margin-bottom: 10px;
}

.gallery {
    display: flex;
    flex: 1 1 100%;
    align-content: space-between;
    max-width: 100%;
}

.service-gallery {
    margin-top: 10px;
    /*background: orange;*/
}

.profile-gallery {
    margin-top: 20px;
    margin-bottom: 50px;
    /*background: orange;*/
    max-width: calc(100% - 30px);
}

.service-wrapper {
    flex: 1 1 25%;
    /*display: flex;*/
    margin-right: 10px;
    border-radius: 20px;
    background: green;
}

.service {
    width: 100%;
    height: 100%;
    bottom: 0px;
    right: 0px;
    margin: 10px;
     /*background: orange;*/
}

.service h3 {
    font-size: 20pt;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.learn-more {
    text-align: center;
    margin: 20px;
    cursor: pointer;
}

.profile-wrapper {
    flex: 1 1 33%;
    display: flex;
    margin-right: 50px;
    /*border-radius: 20px;*/
    /*background: green;*/
    align-items: center;
    justify-content: center;
}

.profile-card {
    flex: 1;
    background: red;
    border-radius: 20px;
    text-align: center;
}

.profile-card img {
    border-radius: 100%;
    width: 150px;
    margin: 20px;
}

.profile-card h2 {

}

.profile-card p {
    margin: 5px;
    text-align: left;
    max-width: 100%;
    background: purple;
}
