
body {
    margin: 0px;
    padding: 50px;
    height: calc(100vh - 100px);
    background-image: url("static_background.png");
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: sans-serif;
    color: white;
    font-size: 150%;
}

header {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: default;
}

header > * {
    display: block;
}

#logo-wrapper {
    /* background: red; */
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

#logo {
    /* background: blue; */
    aspect-ratio: 2.4935;
    height: min(100%, calc(90vw / 2.4935));
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: purple; */
}


#logo img {
    position: relative;
    /* display: block; */
    top: 0px;
    left: 0px;
    height: 100%;
    /* opacity : 0%; */
    scale: 0%;
    transition: scale 1s;
}

h1 {
    margin: 0px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-link {
    /* width: 100px;
    height: 100px; */
    padding: 20px;
    margin: 10px;
    background-color: #c06a29;
    /* background-color: white;
    background: url("gradient.png");
    background-size: cover;
    background-blend-mode: darken; */
    /* filter:brightness(30%); */
}

.nav-link:hover {
    cursor: pointer;
    background-color: #e08a49;
}


#bottom-pane {
    position: fixed;
    left: 0px;
    right: 0px;
    min-height: 100vh;
    top: 100%;
    background-color: gray;
    background: url("gradient.png");
    background-size: cover;
    transition: top 1s;
}

#bottom-pane > div {
    display: none;
}

#bottom-pane > .selected {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
}

.static-bg {
    width: 50%;
    margin-inline: auto;
    margin-top: 50px;
    padding: 30px 60px;
    background-image: url('static_background.png');
    background-color: #363636;
}

@media only screen and (max-width: 700px) {

    nav {
        flex-direction: column;
    }

    .nav-link {
        width: 100%;
        text-align: center;
    }

    .header-img {
        display: none;
    }
}
